body {
    font-family: roboto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color:white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 5px 0;
    
}

.header-left {
    display: flex;
    padding-left: 10%;
    align-items: center;
    
    }

.header-left p {
    margin: 0;
    color: #f9faf8;
    font-size: 24px;
    

    
}

.header-right {
    padding-right: 10%;
    

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 15px;
    padding: 0;
    white-space: nowrap;
    padding-top: 5px;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.section-one{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    
}

.box-left{
    margin: 0;
    padding-top: 100px;
    margin: 50px;
}

.box-right {
    margin: 0;
    padding-top: 100px;
    margin: 50px;
    
}

.image{
    height:auto;
    width: 800px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h1 p {
    font-weight: 18px;
    color: #E5E7EB;
}